[Desktop Entry]
Version=1.0
Type=Application
Name=Mozilla Firefox
Comment=Mozilla Firefox Browser
Exec=/opt/firefox/firefox
Icon=/opt/firefox/Mozilla_Firefox_logo_2013.png
Path=
Terminal=false
StartupNotify=true
